.parent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.travel{
    background-color: #eee;
    padding: 30px;
    margin-top: 30px;
    width: 40%;
    margin: auto;
    /* display: block; */
}
@media screen and (max-width:991px){
    .travel{
        width: 80%;
    }
}
.content{
    display: flex;
    justify-content: center;
    gap:3rem;
    margin-bottom: 2rem;
}
.parent a{
    color: #fff;
    background-color: #000;
    padding:10px 10px;
}
.parent a:is(:focus,:hover){
    background-color: #212529;
}